body {
    font-family: "Inter", sans-serif;
}

#wrapper {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

#sidebar-wrapper {
    min-width: 250px;
    max-width: 250px;
    height: 100%;
}

#page-content-wrapper {
    flex: 1;
    overflow-y: auto;
}

.navbar {
    z-index: 1000;
}

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 250px;
    font-family: "Inter", sans-serif;
}

.sidebar .nav-link {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar .nav-link:hover {
    background-color: #007bff;
}

.sidebar .logo {
    border-radius: 10px;
}
